*.pyc
.env


*.bat
.vscode/
settings.json

# Vonage Private Key
private.key

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
